<main>

    <h1>Creditos</h1>

    <img src="fotoIlan.png" alt="fotoIlan.png">
    <h3>Ilan Bleicher</h3>
    <img src="fotoFeli.png" alt="fotoFeli.png">
    <h3>Felipe Beckford</h3>
    <img src="fotoCane.png" alt="fotoCane.png">
    <h3>Canela Ledezma</h3>


</main>