<main class="main-creditos">

    <h1>Creditos</h1>

    <section>

    <article>
    <img src="/Imagenes/ilan.jfif" alt="fotoIlan.jfif">
    <h3>Ilan Bleicher</h3>
    </article>

    <article>
    <img src="/Imagenes/felipe.jfif" alt="fotoFeli.jfif">
    <h3>Felipe Beckford</h3>
    </article>

    <article>
    <img src="/Imagenes/canela.jfif" alt="fotoCane.jfif">
    <h3>Canela Ledezma</h3>
    </article>

    </section>


</main>