@{
    ViewData["Title"] = "Index";
}


<main class="index-main">

<section>
<a href='@Url.Action("Jugar", "Home")' >
<button class="button">
  <div class="wrap">
    <p>
      <span>✧</span>
      <span>✦</span>
      ¡Jugar!
    </p>
  </div>
</button>
</a>

<br>

<a href='@Url.Action("Tutorial", "Home")'>
<button class="button">
  <div class="wrap">
    <p>
      <span>✧</span>
      <span>✦</span>
      Tutorial
    </p>
  </div>
</button>
</a>

<br>

<a href='@Url.Action("Creditos", "Home")'>
<button class="button">
  <div class="wrap">
    <p>
      <span>✧</span>
      <span>✦</span>
      Creditos
    </p>
  </div>
</button>
</a>

</section>
<!-- https://uiverse.io/marcelodolza/pretty-goose-7 -->

</main>