@{
    ViewData["Title"] = "Index";
}


<a href='@Url.Action("Jugar", "Home")'>
<button class="button">
  <div class="wrap">
    <p>
      <span>✧</span>
      <span>✦</span>
      Jugar
    </p>
  </div>
</button>
</a>

<a href='@Url.Action("Jugar", "Home")'><p>Tutorial</p></a>

<a href='@Url.Action("Jugar", "Home")'><p></p></a>

<!-- https://uiverse.io/marcelodolza/pretty-goose-7 --> Luego ir alli