<main class="main-nivel3">

    <h2>¡Computadora en apagón!</h2>


    <div class="historiaBreveContenedor">
        <h3>Historia breve:</h3>
        <p> De pronto, tu compu se apaga en medio de la edición del TP. No hay corriente, no hay disco duro que aguante. ¿Qué cable o dispositivo debes reconectar para revivirla?</p>
    </div>


    <img src="/Imagenes/compuPorAtras.png"  usemap="#parteAtrasComputadora" alt="Parte atras gabinete"/>

    <map name="parteAtrasComputadora">
        <!-- <area shape="rect" coords="34,44,270,350" href="/Home/Nivel4" alt="Nivel 3"/> -->
        <area shape="rect" coords="660,561,760,651" href='@Url.Action("Nivel4", "Home")' alt="Botón" onclick="alert('¡Cable correcto conectado!');" />

    </map>

    <div class="cajaPistas">
    <a href="#" onclick="MostrarPista()" class="pista">Ver Pista</a>
    <div id="PistaOculta"><p>@ViewBag.pista</p></div>
    <div>
    


</main>

<script>
    function MostrarPista()
    {
        document.getElementById('PistaOculta').style.display='Block';
    }
</script>