<main class="main-nivel4">

    <h2>¡GitHub explotando!</h2>


    <div class="historiaBreveContenedor">
        <h3>Historia breve:</h3>
        <p> Revisas tu repositorio y descubres que has subido carpetas gigantes con binarios: ¡toda tu carpeta “node_modules”, “*.exe” y hasta tus secretos de Discord! El conserje del colegio amenaza con revisar tu GitHub si no enmiendas esto.</p>
    </div>

<section id="repoGithub">
    <div class="repo-container">
    <div class="repo-header">
      <h2>Ctrl + Alt + Escape!</h2>
      <span>¡TP Final!</span>S
    </div>

<form action="Nivel4" method="POST">
  <ul class="repo-list">
    <li><input type="checkbox" name="rta" value=".vscode"><span class="folder">.vscode</span><span class="message">index.cshtml terminada y contenido de tutorial empezado</span></li>
    <li><input type="checkbox" name="rta" value="Controllers"><span class="folder">Controllers</span><span class="message">Nivel 1 y 2 terminados</span></li>
    <li><input type="checkbox" name="rta" value="Models"><span class="folder">Models</span><span class="message">Nivel 1 y 2 terminados</span></li>
    <li><input type="checkbox" name="rta" value="Fotos_Privadas.png"><span class="folder">Fotos_Privadas.png</span><span class="message">contenido de tutorial empezado</span></li>
    <li><input type="checkbox" name="rta" value="Properties"><span class="folder">Properties</span><span class="message">Primer Commit</span></li>
    <li><input type="checkbox" name="rta" value="Views"><span class="folder">Views</span><span class="message">Nivel 1 y 2 terminados</span></li>
    <li><input type="checkbox" name="rta" value="Contraseña_Gmail.txt"><span class="folder">Contraseña_Gmail.txt</span><span class="message">Nivel 1 y 2 terminados</span></li>
    <li><input type="checkbox" name="rta" value="bestChatGPTPrompts.txt"><span class="folder">bestChatGPTPrompts.txt</span><span class="message">Nivel 1 y 2 terminados</span></li>
    <li><input type="checkbox" name="rta" value="obj"><span class="folder">obj</span><span class="message">Nivel 1 y 2 terminados</span></li>
    <li><input type="checkbox" name="rta" value="wwwroot"><span class="folder">wwwroot</span><span class="message">Nivel 1 y 2 terminados</span></li>
    <li><input type="checkbox" name="rta" value="troyano.bat"><span class="folder">troyano.bat</span><span class="message">Nivel 1 y 2 terminados</span></li>
    <li><input type="checkbox" name="rta" value="Program.cs"><span class="file">Program.cs</span><span class="message">Clase Objeto terminada y clase Nivel empezada</span></li>
    <li><input type="checkbox" name="rta" value="TP05-SalaDeEscape.csproj"><span class="file">TP05-SalaDeEscape.csproj</span><span class="message">Clase Objeto terminada y clase Nivel empezada</span></li>
    <li><input type="checkbox" name="rta" value="appsettings.Development.json"><span class="file">appsettings.Development.json</span><span class="message">Primer Commit</span></li>
    <li><input type="checkbox" name="rta" value="chatPrivado.txt"><span class="file">chatPrivado.txt</span><span class="message">Primer Commit</span></li>
  </ul>
  <button class="submit-btn" type="submit">Enviar selección</button>
</form>
  </div>
  </section>

  <section class="contenedoresRtas">

    <div class="soloPistas">
    <a href="#" onclick="MostrarPista()" class="pista">Ver Pista</a>
    <div id="PistaOculta"><p>@ViewBag.pista</p></div>
  </section>
    <div>

</main>

<script>
    function MostrarPista()
    {
        document.getElementById('PistaOculta').style.display='Block';
    }
</script>