<main class="main-nivel1">

    <h2>¿Dónde está el Wi-Fi?</h2>


    <div class="historiaBreveContenedor" >
        <h3>Historia breve</h3>
        <p>Te has quedado hasta tarde en clase de apoyo y necesitas subir tu TP final, pero la señal en el aula está caída. Para romper el silencio (y tu desesperación), encuentras un post it en el monitor.</p>
    </div>

    <img src="/Imagenes/nivel1-foto-espejo.png" alt="fotoEspejo.png" class="bordeYsombra">

    <section class="contenedoresRtas">
    <div class="respuestasDiv">
    
    <form action="Nivel1" method=POST>
    <div class="input-container">
        <input type="password" id="input" required="" name="rta">
        <label for="input" class="label">Respuesta</label>
    </div>
    <input type="submit" value="Enviar">

    </form>
    </div>

    <div class="cajaPistas">
    <a href="#" onclick="MostrarPista()" class="pista">Ver Pista</a>
    <div id="PistaOculta"><p>@ViewBag.pista</p></div>
    </section>
    <div>




</main>

<script>
    function MostrarPista()
    {
        document.getElementById('PistaOculta').style.display='Block';
    }
</script>


