<main class="main-nivel2">

    <h2>¿Quién me responde la duda?</h2>


    <div class="historiaBreveContenedor">
        <h3>Historia breve:</h3>
        <p>Ya conectado, envías un mail al profe para pedir ayuda y, misteriosamente, recibes otro post-it: “Dudas, preguntas, consultas?” Sin remitente. ¿Quién será?</p>
    </div>

    <img src="/Imagenes/campusOrt-Nivel2.png" alt="nivel2CampusOrt.png">

    <section class="contenedoresRtas">
    <div class="respuestasDiv">

    <form action="Nivel2" method=POST>
    <div class="input-container">
        <input type="password" id="input" required="" name="rta">
        <label for="input" class="label">Respuesta</label>
        <div class="underline"></div>
    </div>
    <input type="submit" value="Enviar">
    </form>
</div>


    <div class="cajaPistas">
    <a href="#" onclick="MostrarPista()" class="pista">Ver Pista</a>
    <div id="PistaOculta"><p>@ViewBag.pista</p></div>
    </section>
    <div>

</main>

<script>
    function MostrarPista()
    {
        document.getElementById('PistaOculta').style.display='Block';
    }
</script>