<main class="main-perder">
    <h1>¡El tiempo ha finalizado!</h1>
    <h1>Perdiste</h1>
    <iframe width="1032" height="630" src="https://www.youtube.com/embed/7jLmYrhNq0s?si=X9WnxtxFGXRp-jvl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</main>